// Mixins Here
.button(@background-color, @padding){
    background-color: @background-color;
    padding: @padding;
    font-size: 160%;
    color: white;
    width: 30%;
    text-align: center;
    border-radius: 17%;
}