// Navigation code here
.navsection{
    height: 20vh;
    background-color: whitesmoke;
    margin: 1% 1% 0% 1%;
    display: flex;
    flex-direction: column;
    align-items: center;

    .navheader{
        font-size: 420%;
        margin-top: 2%;
    }
    .navbar{
        border: 1px solid black;
        width: 70%;
    .navanchors{
        font-size: 150%;
        margin: 3% 0% 1% 3%;
        align-items: center;
        width: 100%;
        border: 1px solid black;
    }
}
}