// Navigation code here
.navsection{
    height: 20vh;
    background-color: whitesmoke;
    .margins();
    display: flex;
    flex-direction: column;
    align-items: center;

    .navheader{
        font-size: 420%;
        margin-top: 2%;
        padding-right: 7%;
    }
    .navbar{
        .ninetywidth();
    .navanchors{
        font-size: 170%;
        .margins();
        padding-left: 20%;
        .ninetywidth();
    }

    .navanchors a{
        padding-right: 5%;
    }
}
}